@import "tailwindcss";

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme inline {
  --font-sans: "Mulish", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: "Mulish", Arial, Helvetica, sans-serif;
}
